{% extends 'base.html' %}
{% block content %}
<div class="login-wrapper">
    <div class="login-container">
        <h2>Вход</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit" class="button button--primary">Войти</button>
        </form>
    </div>
</div>
{% endblock %}
